@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.navBar {
    width:100vw ;
    height: 11vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
   
    padding-bottom: 1%;
    font-size: 120%;
  }

  .statBlock {
      margin-left: 12%;
    font-weight: 800;
      
  }
 
  .characterSheet {
display:flex;


  }

  .equipped {
    margin-left: 12%;
    font-weight: 800;
  }

  .inventory{
    margin-left: 12%;
    font-weight: 800;
  }

  .itemCard{
    display:flex;
    
  }

